/* styles.css */

/* Стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/Start.png");
}
h2{
    color: white;
}
/* Заголовок и навигация */
header {
    background:linear-gradient(rgba(61, 11, 98, 0.25), rgba(196, 135, 229, 0.25)) ;
    color: white;
    padding: 1em;
    text-align: center;
}
.clip_image{
    width: 100%; /* Ширина изображений */
    height: 50%;
    overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
}
img {
    width: 100%; /* Ширина изображений */
    height: auto; /* Авто высота для сохранения пропорций */
}
span{
    background-color:white;
    color: #861313;

}
.centr{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
p,a{
    color: white;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Основное содержимое */
main {
    padding: 20px;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #3d0b62;
    padding: 8px;
    text-align: left; /* Выравнивание по левому краю */
    background-color: #ffffff;
}

th {
    background-color: #ffffff;
}

/* Выравнивание в таблице */
td.right-align {
    text-align: right; /* Выравнивание по правому краю */
}

td.center-align {
    text-align: center; /* Выравнивание по центру */

}

/* Галерея */
.gallery {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.gallery img {
    width: 30%; /* Ширина изображений */
    height: auto; /* Авто высота для сохранения пропорций */
}

/* Футер */
footer {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    bottom: 0; /* Прижимаем футер к низу */
    width: 99%; /* Ширина футера 100% */
    text-align: center;
    padding: 10px;
    background:linear-gradient(rgba(191, 126, 232, 0.25), rgba(61, 11, 98, 0.25)) ;
    color: white;
}
